// /firestore.rules
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que o utilizador autenticado leia e escreva em qualquer documento
    // dentro da sua própria pasta de utilizador, incluindo subcoleções.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Regra explícita para garantir o acesso à subcoleção 'goals'
    match /users/{userId}/goals/{goalId} {
      allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
